<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
</head>
<body>
    <header>
    <nav>
        <!--導覽標籤 nav 清單項目 ul li ; 商標 標題1 (h1)-->
        <ul>class="subnav">
            <h1 id ="logo">annaolly</h1>

        </ul>
    </nav>
    <!--導覽列(小圖示 主按鈕 搜尋列 會員登入-->
</header>
<article>
    <!--網頁內容 會隨哲內容而更動 業首廣告輪播區-->
</article>
<footer>

</footer>
</body>
</html>
